.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
 
.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #3F51B5;
    margin: 20px 0;
    display: inline-block;
    cursor: pointer;
}
 